html { 
margin:auto; 
left:-480px; 
width:960px;  
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
background:url("./body_bg.png") repeat-x scroll center top #fff; 
background-color:#DDFDFF; 
}

header { 
/*width:954px;*/
width:730px;
height:260px; 
margin:20px 0 20px 0; 
background-color:#066; 

font-size:17px; 
}

header li { 
list-style-type:none; 
margin-left:30px; 
line-height:1.8; 
color:#FFF; 
}

#photo { 
position:absolute;
top:20px;
/*margin-left:764px;*/
margin-left:764px;
width:190px; 
height:260px; 

border-color:#0CC; 
}

header, #photo, #center, footer { 
border:outset; 
border-color:#0CC; 
}

#center {
height: 620px;
width: 954px;
margin: 0 0 20px 0;
padding: 30px 0 30px 0;
background-color: #066; 
color: #FFF;
font-weight: bold;
font-size: 13px;
}

article p {
padding: 0 60px 0 60px;
text-align: justify;
line-height: 1.2em; 
}

article ul {
padding: 0 70px 0 70px;
line-height: 1.2em; 
}

footer {
height: 120px;
width: 954px;
margin: 0 0 20px 0;
padding: 30px 0 30px 0;
background-color: #066; 
color: #FFF;
font-weight: bold;
font-size: 13px;
} 

footer p {
padding-left: 60px;
font-size: 14px;
}

/* couleur des liens */
a { color:#FC6; }
/* couleur des liens au survol de la souris */
a:hover { color:#F60; }
/* suppression du soulignage des liens et des pointillés */
a, a:hover { 
text-decoration:none; 
outline:0; 
}

/* styles appliqués aux titres */
h1, h2, h3 {
padding: 0 60px 0 60px;
color:#FC6; 
font-family:Verdana, Geneva, sans-serif; 
}
h1 { 
font-size:24px; 
padding-left:70px;
}
h2 { font-size:18px; }
h3 { font-size:14px; }
h2, h3 { line-height:1.3; }

img { border:none; }

#retour_haut {
/*border:none;*/
position:center;
margin-left:472px;
}
