html { 
margin:auto; 
left:-480px; 
width:960px;  
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
background:url("./images/body_bg.png") repeat-x scroll center top #fff; 
background-color:#DDFDFF; 
}

header { 
/*width:954px;*/
width:730px;
height:260px; 
margin:20px 0 20px 0; 
background-color:#066; 
border:outset; 
font-size:17px; 
}

header li { 
list-style-type:none; 
margin-left:30px; 
line-height:1.8; 
color:#FFF; 
}

#photo { 
/*position:absolute;*/

top:20px;
/*margin-left:764px;*/
margin-left:34px;
width:190px; 
height:260px; 
border:outset; 
border-color:#0CC; 
}

header, #photo { 
border:outset; 
border-color:#0CC; 
}

div {
height:320px;
width:954px;
margin:1130px 0 20px 0;
background-color:#066; 
color:#FFF;
border:outset; 
font-weight:bold;
font-size:13px;
  

border-color:#0CC; 
} 

/* couleur des liens */
a { color:#FC6; }
/* couleur des liens au survol de la souris */
a:hover { color:#F60; }
/* suppression du soulignage des liens et des pointillés */
a, a:hover { 
text-decoration:none; 
outline:0; 
}
img { border:none; }

/* styles appliqués aux titres */
h1, h2, h3 { 
color:#FC6; 
font-family:Verdana, Geneva, sans-serif; 
}
h1 { 
font-size:24px; 
padding-left:70px;
}
h2 { font-size:18px; }
h3 { font-size:14px; }
h2, h3 { line-height:1.3; }
